{% extends 'usercenter_base.html' %}
{% load staticfiles %}
{% block title %}我的课程- 慕学在线网{% endblock %}
{% block bread %}
<section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="/user/home/">个人中心</a>></li>
                <li>我的课程</li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block content %}
<div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>我的课程</h1>
			</div>
		</div>
		<div class="personal_des permessage">
			<div class="companycenter">
				<div class="group_list brief">
                    {% for course in courses.object_list %}
                    <div class="module1_5 box">
                            <a href="{% url 'course:detail' course.id %}">
                                <img width="214" height="190" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.img }}"/>
                            </a>
                            <div class="des">
                                <a href="{% url 'course:detail' course.id %}"><h2>{{ course.course_name }}</h2></a>
                                <span class="fl">课时：<i class="key">{{ course.learn_time }}</i></span>
                                <span class="fr">学习人数：{{ course.learn_stu }}</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ course.course_org.name }}</span>
                                <span class="star fr  notlogin" data-favid="15">{{ course.fav_nums }}</span>
                            </div>
                        </div>
                    {% endfor %}
				</div>
                <div class="pageturn">
                <div class="pagelist">
                <ul>
                    {% if courses.has_previous %}
                        <li class="long"><a href="?{{ courses.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}
                    {% for page in courses.pages %}
                        {% if page %}
                            {% ifequal page courses.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a>...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if courses.has_next %}
                        <li class="long"><a href="?{{ courses.next_page_number.querystring }}">下一页</a></li>
                    {% endif %}
                </ul>
            </div>
            </div>
			</div>
		</div>
	</div>
{% endblock %}





